@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #1e1e1e;
  font-family: 'inter', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}